@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Custom Scrollbar Styles */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(125, 133, 136, 0.1);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(125, 133, 136, 0.4);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(125, 133, 136, 0.6);
}